<h3>Add A Pet:</h3>

<%= form_for [@pet] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :species %>
  <%= f.text_area :species %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.label :breed %>
  <%= f.text_field :breed %>
  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.submit "Add Pet"%>
<% end %>
  