<div class="content-container">
  <div class="content">
    <h1 class="page-title content-head is-center">User Profile</h1>

    <div class="pure-g">
      <section class="pure-u-1-3">
        <%= image_tag @user.image, class: "pure-img user-profile-avatar" %>
      </section>

      <section class="pure-u-1-3">
        <h2><%= @user.name %></h2>
        <h3><%= @user.email %></h3>
        <% if @user.zipcode == '00000' %>
          <%= form_with(url: "/profile/#{@user.id}/zip") do |f| %>
          <section class="pure-form pure-form-aligned">
            <%= f.label("Enter Zipcode") %>
            <%= f.text_field(:zipcode, class: "pure-input-rounded") %>
            <%= f.submit("Submit", class: "pure-button button-large") %>
          </section>
          <% end %>
        <% else %>
          <h3>Zipcode: <%= @user.zipcode %></h3>
        <% end %>
        <section>
          <h2 class="my-parks">My Parks</h2>
        </section>
      </section>


      <section class="pure-u-1-3">
        <div class="pure-g">

          <div class="pure-u-1-2">
            <h2 class="my-pets">My Pets</h2>
          </div>

          <div class="pure-u-1-2">
            <%= link_to "Add A Pet", new_pet_path, action: :new, class: "pure-button button-xlarge" %>

          </div>
        </div>

        <div>
          <% if @user.pets %>
            <% @user.pets.each do |pet| %>
              <div class="pet-<%= pet.id %> pet-container">
                <h3 class="text-stack">Name: <%= pet.name %></h3>
                <h4 class="text-stack">Species: <%= pet.species %></h4>
                <h4 class="text-stack">Age: <%= pet.age %></h4>
                <h4 class="text-stack">Breed: <%= pet.breed %></h4>
                <h4 class="text-stack">Size: <%= pet.size %></h4>
                <h4 class="text-stack">About me: <%= pet.about_me %></h4>
                <%= link_to "Update", edit_pet_path(pet) %>
                <%= link_to "Remove", pet_path(pet), method: :delete %>
              </div>
            <% end %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
