<div class="content-container">
  <div class="content">
  <h1><%= @user.name %></h1>
    <p>Email: <%= @user.email %></p>

<% if @user.zipcode == '00000' %>
  <%= form_with(url: "/profile/#{@user.id}/zip") do %>
    <%= label_tag("Enter Zipcode") %>
    <%= text_field_tag(:zipcode) %>
    <%= submit_tag("Submit") %>
  <% end %>
<% else %>
  <p>Zipcode: <%= @user.zipcode %></p>
<% end %>

<form action="/pets/new">
    <input type="submit" value="Add A Pet"/>
</form>

<form action="/petplays/new">
    <input type="submit" value="Add A PetPlay"/>
</form>

<% if @user.pets %>
  <% @user.pets.each do |pet| %>
    <div class="pet-<%= pet.id %>">
      Name: <%= pet.name %><br>
      Species: <%= pet.species %><br>
      Age: <%= pet.age %><br>
      Breed: <%= pet.breed %><br>
      Size: <%= pet.size %><br><br>
      About me: <%= pet.about_me %>
    </div>
  <% end %>
<% end %>

<%= button_to 'Log Out', "/logout", method: 'delete' %>
  </div>
</div>
