<h2 class="content-head">There are <%= @petplays.count %> PetPlays near <%= current_user.zipcode %></h2>

<% @petplays.each_with_index do |petplay, index| %>
  <div id="pet-play-<%= index + 1 %>">
    <h2 class="pet-play-head">
      <%= petplay.title %> (<%= link_to "more info", petplay_path(petplay) %>)
    </h2>
    PetPlayers:
    <div class="pet-players-wrapper">
      <% list_pet_players(petplay.pet_players).each do |player| %>
        <p class="player-name"><%= player %></p>
      <% end %>
    </div>
  </div>
<% end %>
