<!DOCTYPE html>
<html>
<head>
  <title>Petplay</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '/css/pure/pure-min.css'%>
  <%= stylesheet_link_tag '/css/pure/grids-responsive-min.css'%>
  <%= stylesheet_link_tag 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'%>
  <%= stylesheet_link_tag '/layouts/marketing/styles.css'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <% if current_user %>
      <%= link_to 'PetPlay', "/profile/#{current_user.id}", class: 'pure-menu-heading' %>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><%= link_to 'Nearby PetPlays', "/petplays", class: 'pure-menu-link' %></li>
        <li class="pure-menu-item"><%= link_to 'Profile', "/profile/#{current_user.id}", class: 'pure-menu-link' %></li>
        <li class="pure-menu-item"><%= link_to 'Log Out', "/logout", method: 'delete', class: 'pure-menu-link' %></li>
      </ul>
    <% else %>
      <%= link_to 'PetPlay', "/", class: 'pure-menu-heading' %>
    <% end %>
  </div>
</div>
<section>
<div class="flash-message">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg.html_safe, class: name %>
  <% end %>
</div>
<%= yield %>
</section>
<div class="footer l-box is-center">
  View the source of this layout to learn more. Made with luv by Turing Students.
</div>




</body>
</html>
