<!DOCTYPE html>
<html>
  <head>
    <title>Petplay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '/css/pure/pure-min.css'%>
    <%= stylesheet_link_tag '/css/pure/grids-responsive-min.css'%>
    <%= stylesheet_link_tag 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'%>
    <%= stylesheet_link_tag '/layouts/marketing/styles.css'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <main class="px4">
    <div class="flash-message">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, class: name %>
      <% end %>
    </div>

    <%= yield %>
  </main>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <%= link_to 'PetPlays:MVP', "/", class: 'pure-menu-heading' %>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><%= link_to 'Main', "/", class: 'pure-menu-link' %></li>
                <li class="pure-menu-item"><%= link_to 'Log Out', "/logout", method: 'delete', class: 'pure-menu-link' %></li>
            </ul>
        </div>
    </div>

    <%= yield %>

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with luv by Turing Students.
    </div>
<<<<<<< HEAD
=======

  <main class="px4">
    <div class="flash-message">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, class: name %>
      <% end %>
    </div>

    <%= yield %>
  </main>

>>>>>>> 4138596f9dde7029184f9a27ce0c0bae279650fe
  </body>
</html>


